<h1>Hello, <%= @name %></h1>
<p>Time is <%= formatted_time(@time) %></p>
<p>This page has been visited <%= @times_display %> time(s)</p>
<p><%= link_to "Google", "https://google.com"%></p>
<p><%= link_to "Goodbye", goodbye_path %></p>